 
  .flex-item {
    background: #181818;
    /* aspect-ratio: 36 / 49; */
    max-width: 216px;
    /* max-height: 294px; */
    width: 44%;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin: 9px;
    border-radius: 7px;
    text-align: left;
    transition: 0.3s;
  }

  .flex-item img {

    border: 0;
    aspect-ratio: 1/1;
    /* max-width: 184px; */
    width: calc(100% - 32px);
    /* height: 184px; */
    background-color: white;
    margin: 0;
    padding: 0;
    margin-left: 16px;
    margin-top: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  #Gamemode{
    border-radius: 100%;
  }
  #Artist{
    border-radius: 7px;
  }
  .flex-item p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 16px;
    line-height: 24px;
  }
  .flex-item p:nth-child(3) {
    font-size: 15px;
    color: rgb(167, 167, 167);
    font-weight: 500;
  }
  .flex-item p:nth-child(4) {
    color: #1ed760;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 16px;
  }
  
  .flex-item:hover {
    background-color: #272727;
    cursor: pointer;
  }