
  #box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
  #nav {
    flex: 0 1 auto;
    background-color: rgb(54, 54, 54);
  }
  #nav h1 {
    font-family: sans-serif;
    margin-left: 20px;
  }
  
  #VScircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 66px;
    height: 66px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
  }
  #VScircle p {
    font-weight: 500;
    font-size: 20px;
  }

  #VScircle:has(svg#svgCorrect){
    background-color: #73AF55;
  }

  #VScircle:has(svg#svgIncorrect){
    background-color: #D06079;
  }

 #VScircle svg {
    width: 100px;
    display: block;
    border-radius: 50%;
    padding: 2px;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
    .path.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    .path.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s ease-in-out forwards;
      animation: dash .9s ease-in-out forwards;
    }
    .path.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s ease-in-out forwards;
      animation: dash-check .9s ease-in-out forwards;
  }
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  a {
    color: #1ED760;
    font-weight: 500;
  }
  
  #songLinkOne {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  
  #songLinkTwo {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  #highScore {
    position: absolute;
    top: -8px;
    left: 10px;
    font-size: 17px;
    font-weight: 600;
    color: white;
  }
  
  #score {
    position: absolute;
    top: -8px;
    right: 10px;
    font-size: 17px;
    font-weight: 600;
    color: white;
  }
  
  main {
    height: 100%;
    background-color: rgb(153, 153, 153);
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  main .imageItem {
    display: flex;
    /* flex: 0 0 50%; */
    flex-grow:1;
    flex-basis:0;
    min-width: 230px;
    min-height: 50%;
    align-items: center;
    justify-content: center;
  }
  main .imageItem .textContainer {
    text-align: center;
    color: white;
    line-height: 34px;
    padding: 15px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  main .imageItem .textContainer .songName {
    font-size: min(max(28px, 4vw), 46px);
    font-weight: 700;
  }
  main .imageItem .textContainer .songScore {
    color: #1ED760;
    font-weight: 700;
    font-size: min(max(24px, 3.6vw), 40px);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  main .imageItem .textContainer button {
    width: 199.8px;
    border-radius: 50px;
    background-color: #1E1E1E;
    font-size: 18px;
    color: white;
    height: 51.3px;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media only screen and (max-width: 600px) {
    main .imageItem .textContainer button {
      width: 150px;
      font-size: 15px;
    }
    #VScircle {
      width:  56px;
      height: 56px;
    }
    #VScircle p{
      font-size: 16px;
    }
  }

  @media (hover: hover) {
    main .imageItem .textContainer button:hover {
      cursor: pointer;
      transition: 300ms;
      background-color: #272727;
      color: #1ED760;
    }
  }

  main .imageItem .textContainer button.btnHover {
    cursor: pointer;
    transition: 300ms;
    background-color: #272727;
    color: #1ED760;
  }
  
  main .image1 {
    
    background-color: rgb(206, 206, 206);
    background-size: cover;
  }
  main .image2 {
    background-color: rgb(130, 211, 76);
    background-size: cover;
  }
  
  #btnHigher {
    margin-top: 16px;
    margin-bottom: 10px;
  }
  
  #btnLower {
    margin-bottom: 16px;
  }
  
  #isOver{
    position:absolute;
    height:100%;
    width:100%;
    background-color: #1E1E1E;
    z-index:10;
    text-align: center;
  }

  #isOver div{
    position: relative;
    top: 40%;
    transform: translateY(-60%);
  }

  #isOver button{
    width: 199.8px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-size: 18px;
    color: #1E1E1E;
    height: 51.3px;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media only screen and (max-width: 460px) {
    #isOver button {
      width: 150px;
      font-size: 15px;
    }
    #VScircle {
      width:  52px;
      height: 52px;
    }
    #VScircle p{
      font-size: 15px;
    }

  }

  #isOver button:first-of-type{
    margin-right: 20px;
  }

  #isOver button:hover{
    cursor: pointer;
    transition: 300ms;
    color: #272727;
    background-color: #1ED760;
  }

  #isOver h1{
    color:white;
    margin: 0;
    padding: 0;
  }

  #isOver h2{
    color:#1ED760;
    font-size: 60px;
    margin: 20px;
    padding: 0;
  }