table{
  width: 90%;
      margin: 0 auto;
      border-collapse: collapse;
  }
  .Display-Table-Header{
      font-weight: 500;
  }
  .Display-Table-Container th{
      font-weight: 400;
      padding-bottom: 15px;

  }
  thead{
    border-bottom: .5px solid #c3c3c3;
  }
  .Display-Table-Container tr{
      border-bottom:.5px solid #c3c3c3;

      }
  .Display-Table-Container td{
      font-size: 16px;
      padding-top: 15px;
      padding-bottom: 15px;
  }
  .Display-Table-Container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
      text-align: center;
      border-radius: 16px;
      color: white;
      background-color: #3E3E3E;
      padding-top: 1%;
      padding-bottom: 5%;
      padding-left: 1%;
      padding-right: 1%;
      width: 80%;
      margin:0 auto;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }