
.Navbar-Container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0;
    margin: 0;
}
.Navbar-Container div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Navbar-Container svg{
    width: 200px;
    height: 50px;
}
#navbar-icon{
    width: 32px;
    min-width: 32px;
    height: 32px;
    align-self: center;
    border-radius: 50%;
    background-color: #cccccc;
}

.Left-Navbar{
    display: flex;
    color: #b3b3b3;
    padding: 0;
}
.Left-Navbar ul{
    padding: 0;
}
.Left-Navbar li{
    font-weight: 300;
    font-size: 16px;
    list-style: none;
    margin-left: 30px;
    width:max-content;
    align-self: center;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.Left-Navbar li:hover{
    transform: scale(1.1);
    color: white;
}
.Right-Navbar{
    display: flex;
    margin: 0;
    width: 40%;
    padding: 10px;
    justify-content: right;
}

#profileContainer{
    /* background-color: #04AA6D; */
    align-self: center;
    margin: 0;
    padding: 10px;
}

#userDropdown{
    background-color: #0c0a11;
    height: 32px;
    border-radius: 60px;
    padding: 2px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    transition: 300ms;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#userDropdown:hover{
    background-color: #282828 !important;
}

#logOutDropdown{
    opacity: 0;
    display: none;
    position: absolute;
    bottom: -49px;
    right: 0;
    width: 190px;
    background-color: #282828;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

#logOutDropdown.dropdownAnimated{ 
    opacity: 1;
}

#logOutDropdown button{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 13px;
    text-align: left;
    /* height: 36px; */
    padding: 10px;
    font-family: proxima-nova, sans-serif;
    border-radius: 4px;
    background-color: #282828;
    color: white;
    margin: 3px;
    cursor: pointer;
    transition: 300ms;
}

#logOutDropdown button:hover{
    background-color: #494949;
}

.Navbar-Searchbar{
    width: 200px;
    height: 25px;
    background-color: transparent;
    border: 1px solid transparent;
}
div .Navbar-Searchbar{
    background-color: white;
    padding: .5% 2%;
    border-radius: 16px;
    align-self: center;
}

#navbar-signin{
align-self: center;
background: transparent;
border:1px solid transparent;
color: #b3b3b3;
font-size: 16px;
text-decoration: none;
}
#navbar-signin:hover{
    color: white;
}
#navbar-signup{
font-size: 16px;
color: black;
background: white;
border:1px solid transparent;
height: 45px;
width: 110px;
margin-left: 15px;
border-radius: 60px;
align-self: center;
cursor: pointer;
}
#navbar-signup:hover{
    transform: scale(1.05);
}

#navbar-logout{
    font-size: 16px;
    color: black;
    background: white;
    border:1px solid transparent;
    height: 45px;
    width: 110px;
    border-radius: 60px;
    align-self: center;
    margin-left: 15px;
    cursor: pointer;
}
#navbar-logout:hover{
    transform: scale(1.05);
}

#navbar-username{
    color: white;
    vertical-align: middle;
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;
    min-width: 10px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

#arrow{
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    align-self: center;
    margin-right: 8px;
}

/* Mobile Nav CSS */

#topnav {
    overflow: auto;
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    top: 0;
    z-index: 100;
  }
  
  #mobile-top {
    display: flex;
    margin: 10px;
  }
  #mobile-top .Mobile-Searchbar {
    align-self: center;
    width: 100%;
    margin-left: 13px;
    box-sizing: border-box;
    padding: 14px;
    padding-left: 20px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
  }

  #mobile-profile{
    background-color: #0c0a11;
    min-width: 44px;
    padding: 0;
    margin: 0;
    height: 44px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
  }

  #mobile-profile div{
    width: 44px;
    min-width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #cccccc;
  }
  
  #topnav #mobile-links {
    display: none;
    flex-flow: column;
  }
  #topnav #mobile-links .mobile-link {
    display: flex;
    flex-flow: row;
    color: white;
    padding: 18px 35px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #545454;
    justify-content: space-between;
  }
  #topnav #mobile-links .mobile-link i {
    border: solid grey;
    border-width: 0 2px 2px 0;
    display: inline-flex;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    align-self: center;
  }
  #topnav #mobile-links .mobile-link:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  #topnav #mobile-links .mobile-link:last-of-type {
    margin-bottom: 30px;
  }
  #topnav #mobile-links button {
    font-size: 16px;
    border: 1px solid transparent;
    height: 54px;
    width: 176px;
    margin-left: 15px;
    border-radius: 60px;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
  }
  #topnav #mobile-links #mobile-signInBtn {
    color: white;
    background-color: transparent;
    margin-bottom: 10px;
  }
  #topnav #mobile-links #mobile-signUpBtn {
    color: black;
    background: white;
    margin-bottom: 20px;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  #nav-icon {
    align-self: center;
    min-width: 36px;
    height: 27px;
    margin-left: 5px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  
  /* https://codepen.io/designcouch/pen/ExvwPY */
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
    top: 12px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 24px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }